/* Style for create receipt */
.container-both {
   position: relative;
}

.receipt , .transaction {
   position: absolute;
   width: 100%;
}

.transaction, #move-left, #transaction-title {
   display: none;
}

.move {
   font-size: 40px;
   color: #e7e7e7;
}

.move button {
   background: transparent;
   border: none;
}

#move-left {
   color: #5cb85c;
}

#move-left:hover {
   color: green;
}

.row-tr {
   border: 1px solid lightblue;
   border-radius: 5px;
   margin: 10px 0px;
   position: relative;
}

h5 {
   margin-left: 10px;
}

.close {
   position: absolute;
   top: 0;
   right: 0;
   display: none;
}
/* END create receipt */

.re-row {
   cursor: pointer;
}

.bd {
   background-color: #d9edf7;
}

table.more td {
   width: 50%;
}
